[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
alan-pytridge = {editable = true,path = "."}

[dev-packages]
pylint = "*"
pytest = "*"
pytest-watch = "*"
pytest-cov = "*"
flake8 = "*"

[requires]
python_version = "3.7"
